In [1]:
import pandas as pd

## Читаем файл и задаем ID индексом

In [2]:
CSV_PATH = "/content/auto.csv"

In [3]:
df = pd.read_csv(CSV_PATH, index_col="ID")
df.head()

       CarNumber  Make_n_model  Refund   Fines  History
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0      NaN
1    E432XX77RUS  Toyota Camry     1.0  6500.0      NaN
2    7184TT36RUS    Ford Focus     1.0  2100.0      NaN
3   X582HE161RUS    Ford Focus     2.0  2000.0      NaN
4   E34877152RUS    Ford Focus     2.0  6100.0      NaN

## Подсчет наблюдений

In [4]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

## Удаление дубликатов

In [5]:
df = df.drop_duplicates(subset=["CarNumber", "Make_n_model", "Fines"], keep="last")
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

## Проверка NaN

In [6]:
df.isna().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

## Удаляем столбцы с более чем 500 пропусков

In [7]:
df = df.dropna(axis=1, thresh=len(df)-500)
df.isna().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

## Заполняем пропуски в Refund предыдущим значением

In [8]:
df["Refund"] = df["Refund"].fillna(method="ffill")
df.isna().sum()

/tmp/ipython-input-2037661248.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Refund"] = df["Refund"].fillna(method="ffill")

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

## Заполняем пропуски в Fines средним значением

In [9]:
df["Fines"] = df["Fines"].fillna(df["Fines"].mean())
df.isna().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

## Разделение Make и Model, удаление Make_n_model

In [10]:
df["Make"] = df["Make_n_model"].apply(lambda x: str(x).split()[0] if pd.notnull(x) else None)
df["Model"] = df["Make_n_model"].apply(lambda x: " ".join(str(x).split()[1:]) if pd.notnull(x) else None)

df = df.drop(columns=["Make_n_model"])
df.head()

       CarNumber  Refund   Fines    Make  Model
ID
0   Y163O8161RUS     2.0  3200.0    Ford  Focus
1    E432XX77RUS     1.0  6500.0  Toyota  Camry
2    7184TT36RUS     1.0  2100.0    Ford  Focus
3   X582HE161RUS     2.0  2000.0    Ford  Focus
5   92918M178RUS     1.0  5700.0    Ford  Focus

## Save Json

In [11]:
df.to_json("auto.json", orient="records", force_ascii=False, indent=4)